[Unit]
Description=%i - Yodawg Env
After=network.target

[Service]
Type=simple
ExecStart=/yodawg/yodawger --env %i env daemon
KillMode=mixed
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
