[Unit]
Description=YoDawg Tenant Supervisor
After=network.target

[Service]
WorkingDirectory=/yodawg/tenants
ExecStart=/yodawg/tenants/run
ExecStop=/yodawg/tenants/finish
Restart=on-failure
Type=exec
User=root

[Install]
WantedBy=multi-user.target
