[Unit]
Description=%i - Yodawg Env
After=network.target

[Service]
Type=simple
ExecStart=/yodawg/yodawger env run %i
KillMode=mixed
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
